doctype html
html(lang='ru')
    head
        title= `${userName}: абонементы`
        link(rel='stylesheet' href='/stylesheets/_layout.css')
        link(rel='stylesheet' href='/stylesheets/database_design.css')
        script(src='/javascripts/formatFunctions.js' defer)
        script(src='/javascripts/database/dateFormat.js' defer)
        script(src='/javascripts/database/benefitsFormat.js' defer)
    body(style= `background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url(../../images/${userBg});
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top;`)
        h1= `${userName}`
        table
            tr
                th= 'Имя'
                th= 'Возраст'
                th= 'Пол'
                th= 'Адрес'
                th= 'Дата начала посещения'
                th= 'Дата завершения посещения'
                th= 'Тренажёрный зал'
                th= 'Бассейн'
                th= 'Спа-зона'
                th= ''

            each ticket in tickets
                tr
                    td= `${ticket.name}`
                    td= `${ticket.surname}`
                    td= `${ticket.sex}`
                    td= `${ticket.address}`
                    td(id='dateBegin')= `${ticket.dateBegin}`
                    td(id='dateEnd')= `${ticket.dateEnd}`
                    td(id='gym')= `${ticket.gym}`
                    td(id='pool')= `${ticket.pool}`
                    td(id='spa')= `${ticket.spa}`
                    td
                        a(href=`/database/table/preview/${ticket.idtickets}`)= 'Открыть'
                        a(href=`/database/table/edit/${ticket.idtickets}`)= 'Изменить'
                        form(action=`/database/table/delete/${ticket.idtickets}`
                                method='POST' style='display: inline;')
                            input(type='submit' value='Удалить')